/*============== text color =============== */
/* ====================== font family ========================= */
.navbar-default {
  background: #363636 !important;
  border-radius: 0px !important;
  border: 0px; }
  .navbar-default .navbar-nav, .navbar-default li, .navbar-default a {
    color: #f3f3f3 !important; }
    .navbar-default .navbar-nav:hover, .navbar-default .navbar-nav:focus, .navbar-default li:hover, .navbar-default li:focus, .navbar-default a:hover, .navbar-default a:focus {
      color: #fff; }
  .navbar-default .navbar-nav .signup {
    background: #f96816 !important;
    color: #f3f3f3; }
