body {
	padding: 0px !important;
	margin: 0px !important;
	background: #000;
	width: 100%;
	height: 100%;
}
.body-container {
	padding: 0px !important;
	margin: 0px !important;
	/*background: #000;*/
	width: 100%;
	height: 100%;
}
nav {
	height: 50px !important;
	line-height: 50px !important;
	background: #0097A7 !important;
	color: #212121;
	border-top: 0px !important;

	.material-logo {
		font-size: 20px !important;
	} 
	a {
		color: #212121 !important;
		text-decoration: none !important;
	}
	a.button-collapse {
		height: 50px !important;
		line-height: 50px !important;
	}
}
nav ul a:hover {
	color: #fff !important;
	/*background: #0097A7;*/
}


/*=================== login form =====================*/
.input-field .prefix {
	font-size: 22px !important;
	bottom: 25px !important;
}
.input-field .prefix ~ input {
	height: 40px !important;
}
.input-field.col .prefix ~ label {
	font-size: 13px !important;
}
.right-slider a{
	font-size: 12px !important;
}
.right-slider a:hover {
	background: transparent !important;
}
.form-elemnt-container {
	h6 {
		line-height: 0% !important;
		margin: 0 !important;
	}
}



