$primaryblack: #363636;
$darkblack:  #222222;
$lightblack:  #2b2b2b; 
$primaryorange: #f96816;
$lightorange: #ff7b39;
$darkblue:  #123456;

/*============== text color =============== */
$white: #fff;
$lightwhite: #f3f3f3;
$blues: #697882;
$darkgrey: #333333;
$lightgrey: #555555;
/* ====================== font family ========================= */
$font: 'Open Sans', sans-serif;