@import 'variable';
@import 'new';
/* ======================== variable ========================*/
.nopadding	{
	padding: 0px;
}
.btn {
	outline: none !important;
	border-radius: 0px !important;
}
.sm-text {
	font-size: 12px;
	font-weight: 300;
}
.color-primary {
	color: $lightorange !important;
}

/* ======================= end ====================================== */
input,
	input::-webkit-input-placeholder {
		font-size: 12px !important;
	}
/*================== modalcss vertical center =============== */
	.modal {
  		text-align: center;
  		padding: 0!important;
	  	.form-control {
	  		border-radius: 0px !important;
	  		border-color: $blues !important;
		  	&:focus {
		    	border-color: $lightorange !important;
		    	outline: 0;
		    	-webkit-box-shadow: inset 0 1px 1px rgba(255,123,57,.075),0 0 8px rgba(255,123,57,.6);
		   		box-shadow: inset 0 1px 1px rgba(255,123,57,.075),0 0 8px rgba(255,123,57,.6);
			}
		}
		.modal-header {
			color: $blues !important;
			font-weight: 300 !important;
			text-transform: uppercase;
			.close {
				color: $blues !important;
				opacity: 1 !important;
			}
		}
	}

.modal:before {
  content: '';
  display: inline-block !important;
  height: 100% !important;
  vertical-align: middle !important;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block !important;
  text-align: left !important;
  vertical-align: middle !important;
}

/* ============================================== */
.navbar-default {
	background: #000 !important;
	border-radius: 0px !important;
	border: 0px;
	margin-bottom: 0px !important;
	border-radius: 0px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.2) !important; 
	
	.navbar-nav, li, a {
		color: $lightwhite !important;
		&:hover, &:focus {
			color: $white;
		}
	}
	.navbar-nav .signup {
		background: $primaryorange !important;
		color: $lightwhite;
	}
}
/* =================== background image ============== */
.bg-image {
  	background: url(../image/cup.jpg) center center no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    min-height: 600px;
    background-size: cover;
    overflow: hidden;
    display: table;
  	.overlay {
  		position: absolute;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    background: #000;
	    z-index: 2;
	    opacity: .7;
  	}
  	.content {
  		position: relative;
    	width: 100%;
    	height: 600px;
    	transition: all .2s ease-out;
    	z-index: 10;
    	display: table-cell;
    	vertical-align: middle;
  	}
}

.heading {
	font-size: 36px !important;
	font-weight: 600 !important;
	margin-bottom: 20px;
	color: $blues;
}
.description {
	margin-bottom: 20px !important;
	color: $lightwhite;
	font-size: 16px !important;
	font-weight: 300 !important;
}
.btn-generic {
	background: #000;
	border: 2px solid $primaryorange;
	border-radius: 0px !important;
	padding: 15px !important;
	text-transform: uppercase;
	transition: background-color .3s linear;
	&:hover, &:focus {
		
		color: $black;
		font-weight: 600 !important;
		border: 1px solid $black;
		background: $primaryorange;
	}
}


/* ========================== login modal ==================*/
.login-text {
	color: $lightgrey;
	text-decoration: none !important;
}

/*================= slide screen ================= */
.slide-screen {
	width: 50%;
}